<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Call</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f4f4f4;
      }

      #button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
        gap: 10px;
      }

      #toggleAudioBtn,
      #toggleVideoBtn,
      #shareVideoBtn {
        margin: 10px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
      }

      #video-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
        max-width: 100%;
        margin-top: 20px;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      @media screen and (max-width: 600px) {
        #button-container {
          /* flex-direction: column; */
          align-items: center;
          gap: 1px;
        }
        #toggleAudioBtn,
        #toggleVideoBtn,
        #shareVideoBtn {
          margin: 5px;
          padding: 5px;
          font-size: 15px;
        }
      }
    </style>
  </head>
  <body>
    <input type="hidden" name="videoId" id="videoId" value="<%= videoId %>" />
    <div id="video-container"></div>
    <!-- Added Share Video button -->
    <div id="button-container">
      <button id="toggleAudioBtn">Toggle Audio</button>
      <button id="toggleVideoBtn">Toggle Video</button>
      <button id="shareVideoBtn">Join Meeting</button>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js"></script>
    <script src="/init.js"></script>
  </body>
</html>
